extends layout

block content
	h1= title

	form(action='/say', method='post')
		div #{name}:
		input(type='type', name='msg')
		input(type='submit', name='SEND')

	- for (var index in messages)
		div #{messages[index].name}: #{messages[index].msg}

	script.
		setTimeout(function() {
			location.href = '/room';
		}, 5000);
